<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Primeiro Projeto Three.js</title>
    <link rel="stylesheet" href="./style/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="foto">
        </section>
        <section class="bio">
            <h4>Rodrigo Santos</h4>
            <p>I'm a System Development Student. </p>
        </section>
        <section class="rSociais">
            <ul>
                <li><a href="https://instagram.com/rudr1gu" target="_blank" id="instagram"><i class='bx bxl-instagram-alt'></i></a></li>
                <li><a href="https://facebook.com/rudr1gu" target="_blank" id="facebook"><i class='bx bxl-facebook-circle'></i></a></li>
                <li><a href="https://youtube.com/@rudr1gu" target="_blank" id="youtube"><i class='bx bxl-youtube'></i></a></li>
                <li><a href="https://github.com/rudr1gu" target="_blank" id="github"><i class='bx bxl-github'></i></a></li>
                <li><a href="https://linkedin.com/in/rudr1gu" target="_blank" id="linkedin"><i class='bx bxl-linkedin' ></i></a></li>
            </ul>
        </section>
    </main>
    <script type="module" src="./main.js"></script>
</body>
</html>